/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial;
}

/* BODY */
body{
    background: #f4f6f9;
}
body {
    margin: 0;
    padding: 0;
}
/* MENU */
nav{
        background:#1e88e5;
    padding: 15px 0;
    width: 100%;
  
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;   
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
	font-size:18px;
    letter-spacing: 0.5px;
	margin:0 15px;
}
nav a:hover{
    text-decoration:underline;
}

/* SECTION */
section{
   
    padding: 40px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
    color: #2c3e50;
}

/* GALLERY */
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

/* CARD */
.card{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* Hover nổi lên */
.card:hover{
    transform: translateY(-5px);
}

/* Ảnh */
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Nội dung trong card */
.card h3{
    padding: 15px 15px 5px;
}

.card p{
    padding: 0 15px 20px;
    color: #555;
    font-size: 14px;
}

/* VIDEO */
.video-box{
    text-align: center;
    margin-bottom: 40px;
}

.video-box video{
    width: 80%;
    max-width: 700px;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* VIDEO */
.video-box{
    text-align: center;
    margin-bottom: 40px;
}

.video-box video{
    width: 800px;     /* giảm chiều ngang */
    height: 400px;    /* giảm chiều cao */
    object-fit: cover;
    border-radius: 12px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background:#1e88e5;
    color:white;
    text-align:center;
    padding:15px;
}
